.titulo{

background-color: aqua;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: bisque;
padding: 100px;
 

}


















